aiohttp==3.8.1
aiosignal==1.2.0
async-timeout==4.0.2
attrs==21.3.0
charset-normalizer==2.0.9
frozenlist==1.2.0
idna==3.3
multidict==5.2.0
nextcord==2.0.0a4
orjson==3.6.5
py-cpuinfo==8.0.0
timeago==1.0.15
yarl==1.7.2
