aiohttp==3.7.4.post0
aiomysql==0.0.22
aiosignal==1.2.0
async-timeout==3.0.1
attrs==21.2.0
chardet==4.0.0
charset-normalizer==2.0.9
cmyui==1.9.3
discord==1.7.3
discord.py==1.7.3
frozenlist==1.2.0
idna==3.3
multidict==5.2.0
mysql-connector-python==8.0.27
orjson==3.6.5
protobuf==3.19.1
py-cpuinfo==8.0.0
PyMySQL==0.9.3
typing_extensions==4.0.1
yarl==1.7.2
